* {
  margin: auto;
  padding: 0;
  background-color: #2d344f;
  font-family: 'Roboto', sans-serif;
}
.container {
  text-align: center;
  color: white;
  margin-top: 3em;
}
#name {
  font-size: 4em;
}
#temp {
  font-size: 5em;
}
#con {
  font-size: 1.5em;
}
#icon {
  height: 8rem;
  width : 8rem;
}
.change{
  background-color: white;
  border-radius: 5px;
  font-size: 2em;
  border: 2px solid black;
  padding: 7px;
}
a {
  cursor: pointer;
  cursor: hand;
}
footer a {
  color: purple;
}
footer{
  margin-top: 2em;

}
